<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

 

<!doctype html>
<html lang="en">
{% include 'header.html' %}

<div class="col d-flex justify-content-center">
<div class="card col-md-6">
  <div class="card-body">
    <h3>About</h3>
    <br>
    Options are financial instruments derived fromvarious underlying assets,
    assuring flexibility andagility to portfolio managers. Options became an indispensable
    asset in modern investmentmanagement. Nevertheless, the complicated nature of these
    instruments results in more uncertaintyin setting thecorrect price of the options. The
    recent advances in Machine Learning (ML) promisesmore efficient and accurate
    modeling of financial processes, compared to the heuristics basedhistorical financial
    data analysis. Therefore it is a natural choice to apply ML techniques to improvethe
    quality of option pricing. The task of the student is to propose a machine learning
    approachto improve the quality of decision on option pricing. The detailed task list of
    the student is as follows:
    <br><br>
      <ul>
      <li>Conduct a literature survey of the option pricing models, including the BlackScholes and the binomial pricing models.</li>
      <li> Review the MLmethods, including the Kernel Methods, Regression Techniques and
      Deep Learning. Provide an overview of option pricing approaches using machine
      learning methods.</li>
      <li>Design a testing framework that is suitable to evaluate the accuracy and
      performance of ML methods for option pricing. Propose a proper data set to be used
      during these tests, implement the data acquisition process in the test environment.</li>
      <li>Review the option pricing model using ML methods developed earlier at the
      Department. Propose an alternative, efficient option pricing model using ML
      methods.</li>
      <li>Design and implement an application which is able to calculate and visualize results
      systematically: estimated prices over longer time horizon, performance of
      algorithms.</li>
      <li>Using the application and the test framework compare the accuracy, performance
      and sensitivity of theproposal.</li>
      <li>Discuss the results and document the work.</li> 
      </ul>
      <br>
      István Mihalik (CLMPOI)
      <br>
      Consultant: Dr. Csaba Simon
      <br>
      2020-2021
        </div>

  </div>
</div>

{% include 'footer.html' %}
</html>
